
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0086b3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #8bcde3;
  }

  #body1 {
    background-image: url("Binairachtergrond2.jpg");
}
#titelkopje1 {
    color: white;
    border-color: #0086b3;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    padding: 40px;
    background-color: #0086b3;
}

  #p3 {
  background-color: #0086b3;
   padding: 50px;
   margin: 20px;
 }

 #ph1 {
  background-color: #0086b3;
   padding: 50px;
   margin: 20px;
 }