
#body1 {
    background-image: url("Binairachtergrond2.jpg");
}
#titelkopje1 {
    color: white;
    border-color: #0086b3;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    padding: 40px;
    background-color: #0086b3;
}