
.body2 {
  font-family: "monaco", monospace;
  color: white;
}

#body1 {
  font-family: "monaco", monospace;
  color: white;
}

#body3 {
  font-family: "monaco", monospace;
  color: white;
}

footer {
  background-color: #8bcde3;
  margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0086b3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #8bcde3;
  }

/* Home pagina */



 #column1 {
  display: flex;
  background-color: #8bcde3;
 }

 #column1 div {
     align-items: center;
     margin: 20px;
     width: 100%;
 }

 .col { 
  font-family: "monaco", monospace;
  color: white;
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  }

/* binair stelsel pagina*/
  #body1 {
    background-image: url("Binairachtergrond2.jpg");
    /** dit is de achtergrond van binairstelsel**/
}
#titelkopje1 {
    color: white;
    border-color: #8bcde3;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    padding: 40px;
    background-color: #8bcde3;
}
/** dit zorgt voor het blauwevlak en de titel van het binairstelsel **/

  #p3 {
  background-color: #8bcde3;
   padding: 50px;
   margin: 20px;
 }
 /* dit zorgt voor het blauwe vlak en de inleiding van het binairstelsel*/

 #div1 {
  background-color: #8bcde3;
   padding: 50px;
   margin: 20px;
   height: auto;
   width: 25%;
   float: left;
 }
/* dit zorgt voor het blauwe vlak met de tekst erin*/

 #p6 {
  float: right;
  overflow: auto;
  width: 60%;
 }
/** dit zorgt ervoor dat het filmpje rechts is in de binairstelsel**/
 
/* Bitmap en vector paginaa */

#body3 {
  background-color: #8bcde3;
}

#column2 {
  display: flex;
  background-color: transparent;
 }

 #column2 div {
     align-items: center;
     margin: 20px;
     width: 100%;
 }

 .col { 
  font-family: "monaco", monospace;
  color: white;
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  }
  